.form {
  margin-bottom: 2rem;
}

.perdeu {
  display: inline-block;
  color: red;
  padding: 0.5rem 1;
  line-height: 1;
  margin-bottom: 2rem;
}

.perdeu::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: currentColor;
  display: block;
}

.cadastro,
.cadastro p {
  margin-bottom: 1.5rem;
}

.subtittle {
  font-family: var(--fonr-second);
  line-height: 1;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.subtittle::after {
  content: "";
  display: block;
  background-color: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}
